.bin-area {
  border: 2px dashed black;
  border-radius: 4px;
  margin: 0 auto;
  width: 240px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00800038;
}
